*,body{ padding: 0;}
body {
    padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
}
#mymenu .dropdown-menu > li > a:hover, #mymenu .dropdown-menu > li > a:focus {
    background-color: #428bca;
    color: #FFF;
    text-decoration: none;
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.main{ margin-top: 20px; }
.main .list-group-item{ padding: 0; }
.main .nav > li.active > a{ color: #FFF; }
.main .list-group-item.active:hover, .main .list-group-item.active:focus {
    background-color: #eee;
    border-color: #DDD;
}
.main .list-group-item.active:hover a, .main .list-group-item.active:focus a{
  color: #2a6496;
}

.featurette-divider {
    margin: 80px 0;
}

.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}
.dataTables_info {
    padding: 6px 12px;
}
.dataTables_paginate {
    float: right;
}
.pagination {
    margin: 0;
}

.links{ margin-top: 50px;}
.links a{ margin-right: 10px; }