{%include file="layout/header.html"%}
<style type="text/css">
.form-inline .form-control {
    width: 100%;
}
</style>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                操作日志
            </h1>
            <ol class="breadcrumb">
                <li><a href="{%$homeUrl%}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">操作日志</li>
            </ol>
        </section>
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">日志列表</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped datatable">
                        <thead>
                            <tr>
                                <th>动作</th>
                                <th>用户</th>
                                <th>参数</th>
                                <th>备注</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{%include file="layout/loadjs.html"%}
<script type="text/javascript">
var getData = function() {
    url = '{%$homeUrl%}{%$classname%}/jsonlist';
    var aoColumns = [
        { "mDataProp": "description"},
        { "mDataProp": "username" },
        { "mDataProp": "parameters" },
        { "mDataProp": "remark" },
        { "mDataProp": "time" }
    ];
    KxCommon.kxDataTable(aoColumns, 5, url, 12);
}
$(document).ready(function(){
    getData();
});
</script>
{%include file="layout/footer.html"%}