{%include file="layout/header.html"%}
<style type="text/css">
.form-inline .form-control {
    width: 100%;
}
</style>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{%$subtitle%}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped datatable">
                <thead>
                    <tr>
                        <th>动作</th>
                        <th>用户</th>
                        <th>参数</th>
                        <th>备注</th>
                        <th>时间</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{%include file="layout/loadjs.html"%}
<script type="text/javascript">
var getData = function() {
    url = '{%$homeUrl%}{%$classname%}/jsonlist';
    var aoColumns = [
        { "mDataProp": "description"},
        { "mDataProp": "username"},
        { "mDataProp": "parameters"},
        { "mDataProp": "remark"},
        { "mDataProp": "time"}
    ];
    KxCommon.kxDataTable(aoColumns, 3, url, 12);
}
$(document).ready(function(){
    getData();
});
</script>
{%include file="layout/footer.html"%}