{%include file="layout/header.html"%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {%$subtitle%}
                <button type="button" class="btn btn-success btn-xs pull-right" onclick="javascript:location.href='{%$homeUrl%}{%$classname%}/modify/0'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加文章
                </button>
            </h3>
        </div>
        <div class="panel-body">
            <div class="info">
                <form>
                    文章分类：
                    <select name="cid" id="cid" class="form-control" onchange="getData()" style="display:inline;width:150px;">
                        {%foreach from=$category item="value" key="key" %}
                            <option {%if $value.cid == $cid%} selected {%/if%} value="{%$value.cid%}">
                                {%$value.c_name%}
                            </option>
                        {%/foreach%}
                    </select>
                </form>
            </div>
            <table class="table table-bordered table-striped datatable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
{%include file="layout/loadjs.html"%}
<script type="text/javascript">
var getData = function() {
    var cid = $("#cid").val();
    url = '{%$homeUrl%}{%$classname%}/jsonlist?cid='+cid;
    var aoColumns = [
        { "mDataProp": "aid"},
        { "mDataProp": "title" },
        { "mDataProp": "add_date"},
        { "mDataProp": "operation"}
    ];
    KxCommon.kxDataTable(aoColumns, 3, url, 12);
}
$(document).ready(function(){
    getData();
});

// 删除
var mdelete = function(id){
    if(window.confirm('确定删除？')){
        $.getJSON("{%$homeUrl%}{%$classname%}/delete/"+id, function(data){
            if(data.code == true){
                window.location.href = "{%$homeUrl%}{%$classname%}";
            }else{
                alert(data.msg);
            }
        })
    }
}

</script>
{%include file="layout/footer.html"%}