{%include file="layout/header.html"%}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {%$subtitle%}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{%$homeUrl%}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">{%$subtitle%}</li>
            </ol>
        </section>
        <form enctype="multipart/form-data" id="form-modify" class="form-horizontal" action="{%$homeUrl%}{%$classname%}/modified" method="POST" onsubmit="return checkForm()">
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                    {%if $data.menu_id%}修改{%else%}添加{%/if%}分类
                    </h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="c_name" class="col-sm-2 control-label">分类名</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="c_name" id="c_name" type="text" value="{%$data.c_name%}" placeholder="请输入分类名">
                            <input type="hidden" name="cid" value="{%$data.cid%}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">列表种类</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="list_cate" value="0" {%if $data.list_cate==0%}checked{%/if%}> 文章
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="list_cate" value="1" {%if $data.list_cate==1%}checked{%/if%}> 图片
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-default m-right100" onclick="javascript:history.go(-1);">
                                返回
                            </button>
                            <button type="submit" class="btn btn-primary" id="save">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </form>
    </div>
{%include file="layout/loadjs.html"%}
<script type="text/javascript">
var checkForm = function(){
    var c_name = $("#c_name").val();
    if (!c_name) {
        alert("请输入分类名！");
        return false;
    }

    return true;
}
</script>
{%include file="layout/footer.html"%}
