{%include file="layout/header.html"%}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {%$subtitle%}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{%$homeUrl%}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">{%$subtitle%}</li>
            </ol>
        </section>
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{%$subtitle%}</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-success btn-xs pull-right" onclick="javascript:location.href='{%$homeUrl%}{%$classname%}/modify/0'">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加菜单
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped datatable">
                        <thead>
                            <tr>
                                <th>排序</th>
                                <th>菜单名称</th>
                                <th>链接</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%foreach from=$menuTree item=value%}
                            <tr>
                                <td>{%$value.menu_order%}</td>
                                <td>{%$value.menu_name%}</td>
                                <td>{%$value.menu_url%}</td>
                                <td>
                                    <a href="{%$homeUrl%}{%$classname%}/modify/{%$value.menu_id%}" class="btn btn-xs btn-info">编辑</a>
                                    |
                                    <a href="javascript:mdelete({%$value.menu_id%});" class="btn btn-xs btn-danger">删除</a>
                                </td>
                            </tr>
                            {%/foreach%}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{%include file="layout/loadjs.html"%}
<script type="text/javascript">
// 删除
var mdelete = function(id){
    if(window.confirm('确定删除？')){
        $.getJSON("{%$homeUrl%}{%$classname%}/delete/"+id, function(data){
            if(data.code == 1){
                window.location.reload();
            }else{
                alert(data.msg);
            }
        })
    }
}
</script>
{%include file="layout/footer.html"%}
