{%include file="layout/header.html"%}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                概览
            </h1>
            <ol class="breadcrumb">
                <li><a href="{%$homeUrl%}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">概览</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-newspaper-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">新闻数量</span>
                            <span class="info-box-number">{%$articleCount%}<small>条</small></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                
            </div><!-- /.row -->
        </section><!-- /.content -->
    </div>
{%include file="layout/loadjs.html"%}
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
{%include file="layout/footer.html"%}
